.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pages {
    margin: 5px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
}
