.header {
    grid-area: h;
    background-color: #3456;
    width: 70%;
  }
  
.header img {
    width: 60px;
}

.authName {
  float: right;
}

.authName a {
  text-decoration: none;
  color: black;
}